.App {
  text-align: center;
}

#navbar{
  height: 5vh;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#navLeft{
  display: flex;
  flex-direction: row;
  width: 40vw;
  justify-content: space-around;
  
}

#navButtonList{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width:50%;
  align-items: center;
}

#logo{
  height: 5vh;
  width:5vh

}

.navButton{
  height: 3vh;
  width: 6vw;

}

#accountButton{
  margin-right: 10vw;

}